html {
  line-height: 1.2em;
  font-family: arial;
  font-size: 1.0em;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: beige;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.wrapper {
  background-color: tan;
  padding: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .80em;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .80em;
}

input[type=submit]:hover {
  background-color: saddlebrown;
  color: beige;
}

label {
  font-weight: bold;
  text-transform: uppercase;

}

/**phones**/

@media screen and (min-width:480px) {
  .wrapper {
    width: 90%;
    margin: auto;
    text-align: left;
  }

  input[type=submit] {
    width: 100%;
    background-color: darkgoldenrod;
    color: black;
    margin: 8px 0px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid black;
  }
  h2 {
    font-size: 1.2em;
  }
}

/**tablets**/

@media screen and (min-width:768px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }
  input[type=submit] {
    width: 100%;
    margin: 8px 0px;
    background-color: darkgoldenrod;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid black;
  }
  h2 {
    font-size: 1.3em;
  }

  /**laptops**/
  @media screen and (min-width:992px) {
    .wrapper {
      width: 45%;
      margin: auto;
    }
    input[type=submit] {
      width: 30%;
      margin: 8px 0px;
      background-color: darkgoldenrod;
      color: black;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      border: 1px solid black;
    }
    h2 {
      font-size: 1.4em;
    }
  }

  /**desktops**/
  @media screen and (min-width:1200px) {
    .wrapper {
      width: 35%;
      margin: auto;
    }
    input[type=submit] {
      width: 25%;
      margin: 8px 0px;
      background-color: darkgoldenrod;
      color: black;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      border: 1px solid black;
    }
    h2 {
      font-size: 1.4em;
    }
  }
}
